body {
  background-image: url("http://thepatternlibrary.com/img/bc.png");
}

header {
  height:70px;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  color: #30E85A;

}

header nav {
  display: inline-block;
}

header nav a {
  text-decoration: none;
  display: inline-block;
  width: 100px;
  line-height: 100px;
  color: #30E85A;
}

header h1 {
  display: inline-block;
  text-align: center;
}

#search {
  float: right;
  border-radius: 10px;
  padding: 3px;
}